<launch>
    <!-- Run Linorobot compatible laser drivers. Takes reference from env var LINOLIDAR. ie. export LINOLIDAR=xv11 -->
    <include file="$(find linorobot)/launch/include/lidar/$(env LINOLIDAR).launch" />

    <!-- Publish static transform of the laser. Define your sensor offset here -->

    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_scan_link" args="-0.14 0 0.17 0 0 0  base_link scan_link"/>

</launch>


